<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/styles.css")
    body
        .app
            .app__col1 
                .box__col1
                .box__col2
                .box__col3
            .app__col2 
                .mac__col1
                .mac__col2
                    .gram__col1
                    .gram__col2