.box .boxcol1 {
  width: 100%;
  height: 80px;
  background-color: red;
}
.box .boxcol2 {
  width: 100%;
  height: 620px;
  background-color: blue;

  display: flex;
  flex-direction: row;
}
.boxcol2 .boxcol3 {
  width: 50%;
  height: 620px;
  background-color: blueviolet;
}
.boxcol2 .boxcol4 {
  width: 50%;
  height: 620px;
  background-color: brown;
  display: flex;
  flex-direction: column;
}
.boxcol4 .boxcol5 {
  width: 100%;
  height: 420px;
  background-color: chartreuse;
}
.boxcol4 .boxcol6 {
  width: 100%;
  height: 200px;
  background-color: darkblue;
}
